.l-constrain {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1em;
  width: 100%;

  &.l-constrain--narrow {
    max-width: 900px; 
  }

  //kill padding incase an l-constrain falls inside another
  .l-constrain {
    padding: 0;
  }
}