* {
  box-sizing: border-box;
  //transition: 250ms ease-out;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

// HEADINGS
h1 {
  font-family: $header-font;
  font-size: em(48px);
  font-weight: 700;
  margin: 0 0 .5em 0;

  @include breakpoint(700px) {
    font-size: em(75px);
  }
}

h2 {
  font-family: $base-font;
  font-size: em(40px);
  font-weight: 100;
  line-height: 1;
  margin: 0 0 .5em 0;
  text-transform: uppercase;

  @include breakpoint(700px) {
    font-size: em(55px);
  }
}

h3 {
  font-family: $base-font;
  font-size: em(32px);
  font-weight: 700;
  margin: 0 0 .5em 0;

  @include breakpoint(700px) {
    font-size: em(45px);
  }
}

h4 {
  font-family: $base-font;
  font-size: em(24px);
  font-weight: 700;
  margin: 0 0 .5em 0;

  @include breakpoint(700px) {
    font-size: em(36px);
  }
}

h5 {

}

.main {
  //transform: translateY(-80px);
  position: relative;
}

