html {
  font-family: $base-font;
  font-size: $base-font-size;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {

}

// HEADINGS
h1 {
  font-family: $header-font;
  font-size: em(72px);
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}


