* {
  box-sizing: border-box;
  transition: 250ms ease-out;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {

}

// HEADINGS
h1 {
  font-family: $header-font;
  font-size: em(90px);
  font-weight: 700;
  margin: 0 0 .5em 0;
}

h2 {
  font-family: $base-font;
  font-size: em(60px);
  font-weight: 100;
  line-height: 1;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
}

h3 {
  font-family: $base-font;
  font-size: em(48px);
  font-weight: 700;
  margin: 0 0 .5em 0;
}

h4 {
  font-family: $base-font;
  font-size: em(36px);
  font-weight: 700;
  margin: 0 0 .5em 0;
}

h5 {

}

.main {
  //transform: translateY(-80px);
}

