<div id="contact" class="section section--gradient section--contact">
  <div class="l-constrain">
    {% if post.contact_title %}
      <h1 class="section__title">{{ post.contact_title }}</h1>
    {% endif %}

    <div class="section__content">
      {% if post.contact_content %}
        {{ post.contact_content }}
      {% endif %}

      {% if post.contact_number %}
        <div class="section__contact-info">
          <h3>Call Us</h3>
          <h4>{{ post.contact_number }}</h4>
        </div>
      {% endif %}

      {% if post.contact_email %}
        <div class="section__contact-info">
          <h3>Email Us</h3>
          <h4>{{ post.contact_email }}</h4>
        </div>
      {% endif %}

    </div>
  </div>
</div>

