<div id="landing" class="section section--gradient section--landing">
  <div class="section__content">
    {% if post.landing_title %}
      <h1 class="section__title">{{ post.landing_title }}</h1>
    {% endif %}

    {% if post.landing_subtitle %}
      <h2 class="section__subtitle">{{ post.landing_subtitle }}</h2>
    {% endif %}

    {% if post.landing_date %}
      <h4 class="section__date">{{ post.landing_date }}</h4>
    {% endif %}
  
    <a href="#rsvp" class="button section__button">RSVP</a>
  </div>

  <div class="down-arrow"></div>
</div>