<div id="rsvp" class="section section--white section--rsvp">
  <div class="l-constrain l-constrain--narrow">
    {% if post.rsvp_title %}
      <h1 class="section__title">{{ post.rsvp_title }}</h1>
    {% endif %}
    {% if post.rsvp_form %}
      <div class="section__title">{{ post.rsvp_form|shortcodes }}</div>
    {% endif %}
  </div>
</div>