{% extends "base.twig" %}

{% block content %}

  {# BG IMAGE FIXED BLOCK #}
  <div class="bg-image image-1"></div>

  {# LANDING SECTION #}
	<div class="section section--gradient section--landing">
    <div class="section__content">
      <div class="l-constrain">
        <h1 class="section__title">Kat & Steve's</h1>
      </div>
    </div>
  </div>

{% endblock %}