{% extends "base.twig" %}

{% block content %}

  {# BG IMAGE FIXED BLOCK #}
  <div class="bg-image image-1" style="background-image: url(http://picsum.photos/1600/1000)"></div>
  <div class="bg-image image-2" style="background-image: url(http://picsum.photos/1600/1001)"></div>
  <div class="bg-image image-3" style="background-image: url(http://picsum.photos/1600/1002)"></div>

  {# LANDING SECTION #}
	{% include "partial/landing.twig" %}

  {# STORY SECTION #}
  {% include "partial/story.twig" %}

  {# EVENTS SECTION #}
  {% include "partial/events.twig" %}

  {# TRAVEL SECTION #}
  {% include "partial/travel.twig" %}

{% endblock %}