{% extends "base.twig" %}

{% block content %}

  {# BG IMAGE FIXED BLOCK #}
  <div class="bg-image bg-image-1 is-active" style="background-image: url({{ Image(post.bg_image_1).src }})"></div>
  <div class="bg-image bg-image-2" style="background-image: url({{ Image(post.bg_image_2).src }})"></div>
  <div class="bg-image bg-image-3" style="background-image: url({{ Image(post.bg_image_3).src }})"></div>

  {# LANDING SECTION #}
	{% include "partial/landing.twig" %}

  {# STORY SECTION #}
  {% include "partial/story.twig" %}

  {# EVENTS SECTION #}
  {% include "partial/ceremony.twig" %}

  {# TRAVEL SECTION #}
  {% include "partial/travel.twig" %}

  {# THINGS TO DO SECTION #}
  {% include "partial/things-to-do.twig" %}

  {# RSVP SECTION #}
  {% include "partial/rsvp.twig" %}

  {# CONTACT SECTION #}
  {% include "partial/contact.twig" %}

  {# BACK TO TOP BUTTON #}
  <a href="#landing" class="back-to-top"></a>

{% endblock %}

{# FOOTER #}
{% block footer %}
  <footer id="footer">
    {% include 'footer.twig' %}
  </footer>
  {{ function('wp_footer') }}
{% endblock %}
