.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -10;

  &.image-3 {
    z-index: -1;
  }

  &.image-2 {
    z-index: -2;
  }

  &.image-1 {
    z-index: -3;
  }

  &.is-active {
    opacity: 1;
  }
}