.button {
  border: solid 2px #fff;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  overflow: hidden;
  padding: .7em 3em;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  @include pseudoblock(after, block) {
    background-color: #fff;
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: left 200ms ease-in;
    width: 100%;
    z-index: -1; 
  }

  &:hover {
    &:after {
      left: 0;
    }
  }

  &.button--black {
    border: solid 2px $black;
    color: $black;

    &:hover {
      color: #fff;
    }

    &:after {
      background-color: $black;
    }
  }
}