.button {
  border: solid 2px #fff;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: .7em 3em;
  position: relative;
  overflow: hidden;

  @include pseudoblock(after, block) {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #fff;
    transition: left 200ms ease-in;
    z-index: -1; 
  }

  &:hover {
    &:after {
      left: 0;
    }
  }
}