$event-bp: 700px;

.events {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  padding: 1em;
  position: relative;

  @include breakpoint($event-bp) {
    padding: 3em 1em 2em;
  }
}

.events__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em;
}

.events__date-list {
  border-right: solid 1px #ddd;
  flex-basis: 160px;
  padding-top: 0.5em;
  display: none;

  @include breakpoint($event-bp) {
    display: block;
  }
}

.events__date {
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 0.5em;
  padding-right: 1em;
  position: relative;
  text-align: right;

  @include pseudoblock(after, block) {
    background-color: #fff;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 200ms ease-in;
    width: 6px;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
  
  &.is-active {
    font-weight: 700;

    &:after {
      opacity: 1;
    }

    &:before {
      content: 'JULY';
      font-weight: 700;
      left: -10px;
      position: relative;
    }
  }
}

.events__list {
  box-sizing: border-box;

  @include breakpoint($event-bp) {
    flex-basis: calc(100% - 160px);
    padding-left: 1.5em;
  }
}

.events__item {
  margin-bottom: 4em;
  opacity: 1;
  position: relative;
  transition: none;

  @include breakpoint($event-bp) {
    position: absolute;
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }
}

.events__title {
  line-height: 1.2;
  margin-bottom: 0.2em;
  transition: none;
}

.events__summary {
  transition: none;

  @include breakpoint($event-bp) {
    font-size: 22px;
  }
}

.events__bg-number {
  font-size: 200px;
  font-weight: 700;
  line-height: 1;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 10px;
  transition: none;

  @include breakpoint($event-bp) {
    top: 0;
  }
}

.events__small-date {
  border-bottom: 1px solid #fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.75em;

  @include breakpoint($event-bp) {
    display: none;
  }
}