.nav--main {
  display: block;
  width: 100%;

  .nav__list {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @include breakpoint($mobile-bp) {
      justify-content: flex-end;
      flex-direction: row;
    }
  }

  .nav__item {
    list-style: none;

    @include breakpoint($mobile-bp) {
      margin-left: 1.5em;
    }
  }

  .nav__link {
    color: #fff;
    display: block;
    font-size: 1.8em;
    font-weight: 700;
    left: 100vw;
    margin-bottom: 0.5em;
    opacity: 0;
    position: relative;
    text-align: center;
    text-decoration: none;

    @include pseudoblock(after, block) {
      background-color: #fff;
      font-weight: 300;
      height: 2px;
      margin-bottom: 0;
      position: absolute;
      bottom: -5px;
      transition: all 200ms ease-in;
      width: 0;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

    @include breakpoint($mobile-bp) {
      font-size: $base-font-size;
      left: 0;
      opacity: 1;
      text-align: left;
    }
  }
}
 


