.nav--main {
  display: block;
  width: 100%;

  .nav__list {
    display: flex;
    justify-content: flex-end;
  }

  .nav__item {
    list-style: none;
    margin-left: 1.5em;
  }

  .nav__link {
    color: #fff;
    text-decoration: none;
    position: relative;

    @include pseudoblock(after, block) {
      width: 0;
      position: absolute;
      height: 2px;
      background-color: #fff;
      transition: all 200ms ease-in;
      top: -5px;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
 


