.nav--main {
  display: block;
  width: 100%;

  .nav__list {
    display: flex;
    justify-content: flex-end;
  }

  .nav__item {
    list-style: none;
    margin-left: 1.5em;
  }

  .nav__link {
    color: #fff;
    text-decoration: none;
  }
}
 


