.nf-form-wrap {
  z-index: 1;
  
  input, 
  select,
  textarea {
    font-family: $base-font;
    font-size: 16px;
    padding: .8em .5em;
    border: solid 1px $black;
  }

  input[type=button] {
    border: solid 2px $black;
    background-color: transparent;
    cursor: pointer;
    color: $black;
    display: inline-block;
    font-weight: 700;
    overflow: hidden;
    padding: .7em 3em;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    transition: background-color 250ms ease-out;

    &:hover {
      color: #fff;
      background-color: $black;
    }
  }

  .nf-error-msg,
  .ninja-forms-req-symbol {
    color: $purple;
  }

  .nf-error .ninja-forms-field {
    border-color: $purple;
  }

  .nf-form-fields-required {
    margin-bottom: 0.5em;
  }
}

