$travel-bp: 900px;

.section.section--travel {
  position: relative;
  padding-bottom: 150px;

  .section__content {

    @include breakpoint($travel-bp) {
      width: 50%;
    }
  }

  .section__summary {
    margin-bottom: 2em;
    z-index: 1;
  }
}

.section__map {
  width: 60%;
  @include svg-background(cornwall);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  bottom: 30px;
  right: 0;

  @include breakpoint($travel-bp) {
    width: 60%;
    height: calc(100% - 120px);
  }
}

.section__map-marker {
  @include svg-background(map-arrow);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
}