.section--contact {
  &.section {
    min-height: 0;
  }

  .section__content {
    text-align: center;
  }

  .section__contact-info {
    margin: 2em 0;

    h3 {
      margin-bottom: 0;
      line-height: 1;
    }

    h4 {
      font-weight: 100;
    }
  }
}