$travel-bp: 900px;

.section.section--travel {
  position: relative;
  padding-bottom: 150px;
  z-index: 1;

  .section__split-content {
    @include breakpoint($travel-bp) {
      width: 60%;
      margin-bottom: 3em;
    }
  }

  .section__summary {
    margin-bottom: 2em;
    z-index: 1;
  }
}

.section__map {
  @include svg-background(cornwall);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  width: calc(100% - 2em);
  z-index: -1;

  @include breakpoint($travel-bp) {
    height: calc(100% - 120px);
    margin: 0;
    max-height: 750px;
    right: 1.5em;
    top: 100px;
    width: 60%;
  }
}

.section__map-marker {
  
  @include breakpoint($travel-bp) {
    @include svg-background(map-arrow);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100% - 120px);
    margin: 0;
    max-height: 750px;
    position: absolute;
    right: 1.5em;
    top: 100px;
    width: 60%;
  }
}