.section--login {
  height: 100vh;
  position: relative;

  .section__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .section__title {
    margin-bottom: .5em;

    @include pseudoblock(after, block) {
      background-color: $black;
      height: 2px;
      margin: 0 auto;
      max-width: 90%;
      position: relative;
      top: 10px;
      width: 250px;
    }

    @include breakpoint(800px) {
      font-size: 90px;

      &:after {
        top: 20px;
        width: 350px;
      }
    }
  }
}