$travel-bp: 900px;

.section.section--travel {
  position: relative;
  padding-bottom: 150px;
  z-index: 1;

  .section__content {

    @include breakpoint($travel-bp) {
      width: 50%;
    }
  }

  .section__summary {
    margin-bottom: 2em;
    z-index: 1;
  }
}

.section__map {
  @include svg-background(cornwall);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  width: calc(100% - 2em);
  z-index: -1;

  @include breakpoint($travel-bp) {
    bottom: 30px;
    height: calc(100% - 120px);
    margin: 0;
    right: 1.5em;
    width: 60%;
    top: auto;
  }
}

.section__map-marker {
  
  @include breakpoint($travel-bp) {
    @include svg-background(map-arrow);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 30px;
    height: calc(100% - 120px);
    margin: 0;
    position: absolute;
    right: 1.5em;
    top: auto;
    width: 60%;
  }
}